* {
  margin: 0;
  padding: 0;
}
:root {
  --brown: #d5966c;
  --black: #151515;
  --grey: #444444;
}
/* ----------index------------ */
body {
  width: 100%;
  background-color: #fcfaf9;
  font-family: "Outfit", sans-serif;
  color: var(--grey);
}
h1,
h2,
h3,
a {
  font-family: "Big Shoulders Display", cursive;
  color: var(--black);
  text-transform: uppercase;
}
.black {
  display: none;
}
.woman {
  display: flex;
  flex-direction: column-reverse;
}
.woman img {
  width: 100%;
}
h1 {
  width: 90%;
  margin: 32px auto 32px;
  font-size: 60px;
  line-height: 55px;
}
header p {
  margin: 0 auto 32px;
  width: 90%;
  font-size: 18px;
  line-height: 28px;
}
.button-index {
  display: inline-block;
  margin: 0 auto 120px 5%;
  padding: 24px 0 24px 35px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;
  color: white;
  background-color: var(--black);
}
.button-index span {
  margin-left: 25px;
  padding: 24px;
  background-color: var(--brown);
}
main {
  margin: 0 auto 120px;
  width: 90%;
}
main img {
  width: 100%;
}
.up {
  display: flex;
  flex-direction: column-reverse;
}
.up h2 {
  margin: 25px 0 21px;
  font-size: 50px;
  line-height: 45px;
}
.up p {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;
  order: -1;
}
.left {
  margin-bottom: 16px;
}
.inspired {
  margin-top: 16px;
  box-sizing: border-box;
  padding: 48px 24px;
  width: 100%;
  background-color: var(--black);
  color: white;
}
.inspired h2 {
  margin-bottom: 24px;
  font-size: 50px;
  line-height: 45px;
  color: white;
}
.inspired p {
  font-size: 18px;
  line-height: 28px;
}
footer {
  box-sizing: border-box;
  background-color: var(--black);
  padding: 48px 32px;
}
footer h3 {
  font-size: 23px;
  line-height: 22px;
  color: white;
}
footer p {
  margin: 38px 0;
  font-size: 16px;
  line-height: 26px;
  color: white;
}
footer a {
  margin-right: 20px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
/* ----------location------------ */
.main-wrap-location {
  position: relative;
  width: 100%;
  font-size: 0;
}
.button-location a {
  position: absolute;
  display: inline-block;
  padding: 24px 35px 24px 0;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;
  color: white;
  background-color: var(--black);
}
.button-location span {
  margin-right: 25px;
  padding: 24px;
  background-color: var(--brown);
}
.black-location {
  box-sizing: border-box;
  padding: 48px 16px 56px;
  width: 100%;
  background-color: var(--black);
}
.black-location h2 {
  font-size: 50px;
  line-height: 45px;
  color: white;
}
.text-address h3 {
  margin: 48px 0 20px;
  font-size: 32px;
  color: var(--brown);
}
.text-address p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 28px;
  color: white;
}
.footer-location {
  background-color: var(--brown);
}
.footer-location h3,
.footer-location p,
.footer-location a {
  color: var(--black);
}
