* {
  margin: 0;
  padding: 0;
}
:root {
  --brown: #d5966c;
  --black: #151515;
  --grey: #444444;
}
/* ----------index------------ */
body {
  width: 100%;
  background-color: #fcfaf9;
  font-family: "Outfit", sans-serif;
  color: var(--grey);
}
h1,
h2,
h3,
a {
  font-family: "Big Shoulders Display", cursive;
  color: var(--black);
  text-transform: uppercase;
}
.black {
  display: none;
}
.woman {
  display: flex;
  flex-direction: column-reverse;
}
.woman img {
  width: 100%;
}
h1 {
  width: 90%;
  margin: 32px auto 32px;
  font-size: 60px;
  line-height: 55px;
}
header p {
  margin: 0 auto 32px;
  width: 90%;
  font-size: 18px;
  line-height: 28px;
}
.button-index {
  display: inline-block;
  margin: 0 auto 120px 5%;
  padding: 24px 0 24px 35px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;
  color: white;
  background-color: var(--black);
}
.button-index span {
  margin-left: 25px;
  padding: 24px;
  background-color: var(--brown);
}
main {
  margin: 0 auto 120px;
  width: 90%;
}
main img {
  width: 100%;
}
.up {
  display: flex;
  flex-direction: column-reverse;
}
.up h2 {
  margin: 25px 0 21px;
  font-size: 50px;
  line-height: 45px;
}
.up p {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;
  order: -1;
}
.left {
  margin-bottom: 16px;
}
.inspired {
  margin-top: 16px;
  box-sizing: border-box;
  padding: 48px 24px;
  width: 100%;
  background-color: var(--black);
  color: white;
}
.inspired h2 {
  margin-bottom: 24px;
  font-size: 50px;
  line-height: 45px;
  color: white;
}
.inspired p {
  font-size: 18px;
  line-height: 28px;
}
footer {
  box-sizing: border-box;
  background-color: var(--black);
  padding: 48px 32px;
}
footer h3 {
  font-size: 23px;
  line-height: 22px;
  color: white;
}
footer p {
  margin: 38px 0;
  font-size: 16px;
  line-height: 26px;
  color: white;
}
footer a {
  margin-right: 20px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  body {
    width: 100%;
    max-width: 768px;
  }
  header {
    position: relative;
    width: 100%;
    height: 700px;
    margin-bottom: 120px;
  }
  .header-text {
    position: absolute;
    top: 323px;
    left: 389px;
  }
  .woman {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
  }
  .woman img {
    width: 100%;
  }
  h1 {
    position: absolute;
    top: 149px;
    left: 389px;
    margin: 0 0 0;
    font-size: 70px;
    line-height: 65px;
  }
  header p {
    margin: 0;
  }
  .button-index {
    display: inline-block;
    margin: 48px 0 0;
  }
  .button-index span {
    margin-left: 25px;
    padding: 24px;
    background-color: var(--brown);
  }
  main {
    margin: 0 auto 120px;
    width: 90%;
  }
  main img {
    width: 100%;
  }
  .up {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  .up-text {
    flex-basis: 34%;
  }
  .up h2 {
    margin: 0 0 24px;
  }
  .up p {
    margin-bottom: 0;
  }
  .down {
    display: flex;
    gap: 11px;
  }
  .left {
    margin-bottom: 0;
    flex-basis: 57%;
    font-size: 0;
  }
  .right {
    flex-basis: 43%;
    display: flex;
    flex-direction: column;
    font-size: 0;
  }
  .inspired {
    margin-top: 11px;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 70px 35px 0;
    width: 100%;
  }
  .inspired p {
    font-size: 18px;
    line-height: 28px;
  }
  footer {
    display: flex;
    padding: 56px 39px;
  }
  footer h3 {
    width: 150px;
    margin-right: 10px;
  }
  footer p {
    margin: 0;
    margin-right: 155px;
    width: 280px;
    font-size: 16px;
    line-height: 26px;
    color: white;
  }
  footer a {
    margin-right: 0px;
  }
  .social {
    width: auto;
    display: flex;
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  header {
    margin-bottom: 180px;
    position: relative;
    width: 100%;
    height: 800px;
  }
  .black {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 450px;
    height: 799px;
    background-color: black;
  }
  .black h1 {
    position: absolute;
    width: 514px;
    top: 189px;
    left: 165px;
    font-size: 96px;
    line-height: 88px;
    color: white;
  }
  .woman {
    position: absolute;
    top: 0;
    left: 450px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .woman img {
    width: 100%;
  }
  .woman h1 {
    position: absolute;
    top: 189px;
    left: -285px;
    width: 514px;
    margin: 0;
    font-size: 96px;
    line-height: 88px;
  }
  .header-text {
    position: absolute;
    top: 190px;
    left: 920px;
  }
  header p {
    margin: 0;
    width: 350px;
    font-size: 22px;
    line-height: 32px;
  }
  main {
    margin: 0 auto 120px;
    width: 1110px;
  }
  main img {
    width: 100%;
  }
  .up {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
  }
  .up h2 {
    margin: 0 0 32px;
    font-size: 60px;
    line-height: 60px;
  }
  .up p {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 32px;
  }
  .down {
    margin-bottom: 180px;
    display: flex;
    gap: 30px;
  }
  .left {
    margin-bottom: 0px;
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .inspired {
    margin-top: 0;
    padding: 50px 48px 0;
  }
  .inspired h2 {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
  .inspired p {
    font-size: 22px;
    line-height: 32px;
  }
  footer {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    box-sizing: border-box;
    background-color: var(--black);
    padding: 80px 165px;
  }
  footer h3 {
    width: 200px;
    font-size: 40px;
    line-height: 40px;
    color: white;
  }
  footer p {
    width: 430px;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
  }
  footer a {
    margin-right: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
}
/* ----------location------------ */
.main-wrap-location {
  position: relative;
  width: 100%;
  font-size: 0;
}
.button-location a {
  position: absolute;
  display: inline-block;
  padding: 24px 35px 24px 0;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;
  color: white;
  background-color: var(--black);
}
.button-location span {
  margin-right: 25px;
  padding: 24px;
  background-color: var(--brown);
}
.black-location {
  box-sizing: border-box;
  padding: 48px 16px 56px;
  width: 100%;
  background-color: var(--black);
}
.black-location h2 {
  font-size: 50px;
  line-height: 45px;
  color: white;
}
.text-address h3 {
  margin: 48px 0 20px;
  font-size: 32px;
  color: var(--brown);
}
.text-address p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 28px;
  color: white;
}
.footer-location {
  background-color: var(--brown);
}
.footer-location h3,
.footer-location p,
.footer-location a {
  color: var(--black);
}
@media (min-width: 768px) {
  .button-location a {
    top: 0;
    left: 39px;
    padding: 24px 35px 24px 0;
  }
  .black-location {
    box-sizing: border-box;
    padding: 88px 40px;
    display: flex;
    justify-content: space-between;
  }
  .black-location h2 {
    font-size: 55px;
    line-height: 50px;
  }
  .text-address {
    width: 60%;
  }
  .text-address h3 {
    margin: 0 0 20px;
  }
  .wrap {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .main-wrap-location {
    position: relative;
    width: 1440px;
  }
  .button-location {
    position: absolute;
    width: 500px;
    height: 100px;
    top: 0;
    left: 110px;
  }
  .button-location a {
    position: absolute;
    display: inline-block;
    padding: 24px 35px 24px 0;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.5px;
    color: white;
    background-color: var(--black);
  }
  .button-location span {
    margin-right: 25px;
    padding: 24px;
    background-color: var(--brown);
  }
  .black-location {
    box-sizing: border-box;
    padding: 104px 164px 50px;
    width: 100%;
    background-color: var(--black);
  }
  .black-location h2 {
    width: 350px;
    font-size: 70px;
    line-height: 70px;
    color: white;
  }
  .text-address h3 {
    margin-bottom: 26px;
    margin: 0px;
    font-size: 36px;
  }
  .text-address p {
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 32px;
  }
  .footer-location {
    box-sizing: border-box;
    padding: 80px 165px;
  }
  .footer-location h3 {
    width: 300px;
  }
}
